name: Gosetup Tester

on:
  push:
    branches: [main]
  pull_request:

jobs:
  os_matrix:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: tester
        run: ./test/mock.sh
